<div class="container" [ngStyle]="{width: containerWidth}" (window:resize)="changeContainerWidth()">
    <div class="logo">
            <a href=""><img src="https://img.icons8.com/small/64/000000/shopping-cart.png"/> </a>
        <a href="">Better shop ever!</a>
    </div>
    <div class="menubuttons">
        <button class='list'>Main menu</button>
        <button class='list'>Products</button>
        <button>About</button>
        <button>Contact</button>
    </div>
    <div class="login">
            <a href=""><img src="https://img.icons8.com/metro/26/000000/login-rounded-right.png"/></a>
        <a href="">Войти</a><p>/</p><a href="">Зарегистрироваться</a>
    </div>
</div>
