<div class="container">
    <div class="logo">
        <a href=""><img src="https://img.icons8.com/carbon-copy/100/000000/shopping-basket-2.png/"> </a>
        <a href="">Shopping!</a>
    </div>
    <div class="menubuttons">
        <div class="dropdowncontainer">
            <button class='dropdownbutton list' (click)='toggle1stmenu()'>Main menu</button>
            <div style="display : {{display1stmenu}}" class="dropdownmenu">
                <a href="">http 1</a>
                <a href="">http 2</a>
                <a href="">http 3</a>
                <a href="">http 4</a>
            </div>
        </div>
        <div class="dropdowncontainer">
            <button class='dropdownbutton list' (click)='toggle2ndmenu()'>Products</button>
            <div style="display : {{display2ndmenu}} " class="dropdownmenu">
                <a href="/products">All our products!</a>
                <a href="">http 2</a>
                <a href="">http 3</a>
                <a href="">http 4</a>
            </div>
        </div>
        <button (click)='about()' class='menubutton'>About</button>
        <button (click)='contact()' class='menubutton'>Contact</button>
    </div>
    <div class="login" style="display : {{displayclientpage}}">
        <a href="/singin">Sing in</a>
        <p>/</p><a href="/register">Sing up</a>
    </div>
    <div class="login" style="display : {{displayclient}}">
        <a href="/clientpage">{{name}}</a>
        <p>/</p>
        <a href="/" (click)='logout()'>Log Out</a>
    </div>
</div>
<div class="mobilecontainer">
    <div class="mobilelogo">
        <a href=""><img src="https://img.icons8.com/carbon-copy/100/000000/shopping-basket-2.png/"> </a>
        <a href="">Shopping!</a>
    </div>
    <div class="mobiledropdownbutton">
        <button class="mobilebutton" (click)='togglemobilemenu()'><img
                src="https://img.icons8.com/ios/100/000000/chevron-down.png" /></button>
    </div>
</div>
<div class="mobiledropmenu" style="display: {{displaymobilemenu}}">
  <a href="/products">All our products!</a>
  <a href="">http 2</a>
  <a href="">http 3</a>
  <a href="">http 4</a>
  <div class="mobilelogin">
    <a href="/singin">Sing in</a>
    <a href="/register">Sing up</a>
    <div class="mobilelogin" style="display : {{displayclient}}">
      <a href="/clientpage">{{name}}</a>
      <p>/</p>
      <a href="/" (click)='logout()'>Log Out</a>
    </div>
  </div>
</div>