.container {
  height: 60px;
  background-color: transparent;
  max-width: 1900px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

.mobilecontainer {
  display: none;
}

.logo {
  width: 10%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
}

.logo img {
  width: 62px;
  height: 62px;
  padding-top: auto;
}

.logo a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  padding: 0 auto;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-size-adjust: 100%;
}

.logo a:hover {
  color: #929292;
}

.login {
  width: 10%;
  height: 60px;
  right: 0;
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-size-adjust: 100%;
}

.login img {
  padding-top: 22%;
  padding-right: 3px;
}

.login a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.login p {
  padding: 2px;
  font-weight: 600;
}

.login a:hover {
  color: #929292;
}

.menubuttons {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.dropdowncontainer {
  outline: none;
  width: 10%;
  position: relative;
  display: inline-block;
  margin: 15px;
}

.dropdownmenu {
  flex-direction: column;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.39);
  line-height: 45px;
  border-radius: 20px 20px 45px 45px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  text-size-adjust: 100%;
  min-width: 160px;
  font-weight: 600;
  z-index: 1;
}

.dropdownmenu a:hover {
  background: #929292;
  border-radius: 20px 20px 45px 45px;
  box-shadow: 0 15px 20px #929292;
  color: white;
  transform: translateY(-7px);
}



.dropdownbutton {
  outline: none;
  display: inline-block;
  width: 100%;
  height: 50px;
  line-height: 45px;
  border-radius: 45px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  text-size-adjust: 100%;
  letter-spacing: 3px;
  font-weight: 600;
  color: black;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}

.menubutton {
  outline: none;
  display: inline-block;
  width: 10%;
  height: 50px;
  line-height: 45px;
  border-radius: 45px;
  font-size: 11px;
  margin: 15px;
  text-transform: uppercase;
  text-align: center;
  text-size-adjust: 100%;
  letter-spacing: 3px;
  font-weight: 600;
  color: black;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}


.list::after {
  content: '⯆';
}

.container button:hover {
  background: #929292;
  box-shadow: 0 15px 20px #929292;
  color: white;
  transform: translateY(-7px);
}

@media only screen and (max-width: 1610px) {

  .logo {
    width: 10%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
  }

  .dropdownbutton {
    outline: none;
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 45px;
    border-radius: 45px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    text-size-adjust: 100%;
    letter-spacing: 1px;
    font-weight: 600;
    color: black;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }

  .menubutton {
    outline: none;
    display: inline-block;
    width: 10%;
    height: 50px;
    line-height: 45px;
    border-radius: 45px;
    font-size: 11px;
    margin: 15px;
    text-transform: uppercase;
    text-align: center;
    text-size-adjust: 100%;
    letter-spacing: 1px;
    font-weight: 600;
    color: black;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }


  .login {
    width: 10%;
    height: 60px;
    right: 0;
    letter-spacing: 0px;
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
    text-transform: uppercase;
    text-size-adjust: 90%;
  }

  .login a {
    color: black;
    text-decoration: none;
    font-weight: 600;
  }

  .login p {
    font-weight: 600;
  }

  .menubuttons {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}



@media only screen and (max-width: 1312px) {
  .menubutton {
    outline: none;
    display: inline-block;
    width: 10%;
    height: 50px;
    line-height: 45px;
    border-radius: 45px;
    font-size: 10px;
    margin: 15px;
    text-transform: uppercase;
    text-align: center;
    text-size-adjust: 100%;
    letter-spacing: 1px;
    font-weight: 600;
    color: black;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }

  .dropdownbutton {
    outline: none;
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 45px;
    border-radius: 45px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    text-size-adjust: 100%;
    letter-spacing: 1px;
    font-weight: 600;
    color: black;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }

  .login {
    width: 11%;
    height: 60px;
    right: 0;
    letter-spacing: 0px;
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
    text-size-adjust: 90%;
  }

  .login a {
    color: black;
    text-decoration: none;
    font-weight: 600;
  }

  .login p {
    font-weight: 600;
  }

  .menubuttons {
    position: relative;
    width: 80%;
    padding-left: 1%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .logo {
    width: 9%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
  }
}


@media only screen and (max-width: 1024px) {

  .menubutton {
    outline: none;
    display: inline-block;
    width: 10%;
    height: 50px;
    line-height: 45px;
    border-radius: 45px;
    font-size: 10px;
    margin: 10px;
    text-transform: uppercase;
    text-align: center;
    text-size-adjust: 100%;
    letter-spacing: 1px;
    font-weight: 600;
    color: black;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }

  .dropdownbutton {
    outline: none;
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    text-size-adjust: 100%;
    letter-spacing: 1px;
    font-weight: 600;
    color: black;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }

  .login {
    zoom: 82%;
    height: 60px;
    right: 0;
    letter-spacing: 0px;
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
    text-size-adjust: 90%;
  }

  .login a {
    color: black;
    text-decoration: none;
    font-weight: 600;
  }

  .login p {
    font-weight: 600;
  }

  .menubuttons {
    zoom: 82%;
    position: relative;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .logo {
    zoom: 82%;
    width: 10%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
  }

  .logo a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    padding: 0 auto;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-size-adjust: 100%;
  }

  .logo a:hover {
    color: #929292;
  }

}


@media only screen and (max-width : 860px) {

  .container {
    display: none;
  }
  
.mobilecontainer {
  height: 60px;
  background-color: transparent;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

.mobiledropmenu { 
  position: absolute;
  left : 5% ;
  width: 90%; 
  height: 225px;
  display:flex; 
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: linear-gradient(#ffffff, #d3d3d3dc);
  border-radius: 0 0 45px 45px; 
  line-height: 45px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  text-size-adjust: 100%;
  font-weight: 600;
}

.mobiledropmenu a:hover{ 
  background: linear-gradient(#d3d3d3dc, #2e2d2ddc);
  border-radius: 45px; 
}

.mobilelogin {
  display: flex; 
  width: 100%; 
  justify-content: center;
}

.mobilelogin a {
  display: flex; 
  width: 50%; 
  justify-content: center;
}

.mobiledropdownbutton {
  position: relative;
  width: 50%;
  height: 60px;
  display: flex;
  background: transparent;
  justify-content: flex-end;
  align-items: center;
  align-content: space-around;
}


.mobilebutton {
  padding-bottom: 4%;
  border: 0;
  height: 60px;
  display: flex;
  background: transparent;
  justify-content: flex-end;
  align-items: center;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.mobilebutton img {
  zoom: 55%;
}

.mobilelogo {
  width: 50%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
}

.mobilelogo img {
  width: 62px;
  height: 62px;
  padding-top: auto;
}

.mobilelogo a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  padding: 0 auto;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-size-adjust: 100%;
}

.mobilelogo a:hover {
  color: #929292;
}

}
