<div class="wrapper">
    <div class='avatar'>
        <img src={{getUserAvatar()}}>
    </div>
  <div class="info">
    <h4>Name : {{name}}</h4>
    <h4>Surname : {{surname}}</h4>
    <h4>Registered email : {{email}}</h4>
    <h4>Purchases Sum : {{purchasesSum}} you so close to discount at every order! {{discountCalc()}}</h4>
    <h4>Activated : {{isActivated()}}</h4>
  </div>
  <div class='menu'>
    <a routerLink=''>My Orders</a>
    <a routerLink='./products'>Products</a>
    <a routerLink=''>Edit profile</a>
    <a routerLink='./' (click)='logout()'>LogOut</a>
  </div>
</div>
<h1>You need to check sale products!</h1>
<sale></sale>
<br/>
<br/>
<h1>Reccomended for you!</h1>
<productlist [countItems]='8'></productlist>

