<div class="wrapper">
  <div class="logincontainer">
    <div class="loading" *ngIf="isLoading; else login"></div>
    <ng-template #login>
      <form [formGroup]="loginGroup">
        <h4>Phone :</h4>
        <input type="text" name='phone' [class.error]="!loginGroup.get('phone')?.valid" formControlName="phone">
        <h4>Password :</h4>
        <input type="password" name='password' formControlName="password">
        <button (click)="loginInto()">Sing in</button>
      </form>
      <h5>New in our shop? <a routerLink="/register">Create an accout!</a></h5>
    </ng-template>
  </div>
</div>
