.wrapper {
    box-sizing: border-box;
    margin-left: auto; 
    margin-right: auto; 
    max-width: 1900px;
    padding-left: 10px; 
    padding-right:10px;
    border: 1px solid black;
    border-radius: 30px;
    -webkit-box-shadow: -4px 14px 24px -4px rgba(15, 15, 15, 0.719);
    -moz-box-shadow: -4px 14px 24px -4px rgba(15, 15, 15, 0.719);
    box-shadow: -4px 14px 24px -4px rgba(15, 15, 15, 0.719);
}


a {
    color : black; 
    text-decoration: none; 
}

a:hover {
    color: #929292;
}

.footer {
    background: linear-gradient(#ffffff, rgb(78, 77, 77));
    border-radius: 0 0 45px 45px;
    margin-top:5%;
    box-sizing: border-box;
    height: 300px;
    display: flex; 
    justify-content: space-around; 
}

.sponsors {
    letter-spacing: 3px;
    font-weight: 600;
}

.fans {
    letter-spacing: 3px;
    font-weight: 600;
}

.help {
    letter-spacing: 3px;
    font-weight: 600;
}

.soc {
    letter-spacing: 3px;
    font-weight: 600;
}

.soc img {
    width: 35px ; 
    height: 35px;
}

li,ol { 
    color:white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    list-style-type: none; 
    letter-spacing: 1px;
}