<div class="wrapper" @objCreate>
  <header></header>
  <router-outlet></router-outlet>
  <div class='footer'>
    <div class='sponsors'>
      <h3>OUR SPONSORS</h3>
      <li>
        <ol>Jeff Bezos</ol>
        <ol>Elon Musk</ol>
        <ol>Bill Gates</ol>
        <ol>Mark Zuckerberg</ol>
      </li>
    </div>
    <div class='fans'>
        <h3>OUR FANS</h3>
      <li>
        <ol>Aleksandr “s1mple” Kostyliev</ol>
        <ol>Nicolai “dev1ce” Reedtz</ol>
        <ol>Marcelo “Coldzera” David</ol>
        <ol>Christopher “GeT_RiGhT” Alesund</ol>
      </li>
    </div>
    <div class='help'>
                <h3>HELP</h3>
                <li>
                <ol>Phone of hot line: +79999999999</ol>
                <ol>Email : shop@shopping.gg</ol>
                <ol>WhatsApp, Viber : +79999999999</ol>
                </li>
    </div>
    <div class='soc'>
        <h3>SOCIAL</h3>
        <li>
                <ol>
                  <div class="img_text">
                    <img src="https://img.icons8.com/ios/50/000000/vk-circled--v1.png"/>
                    /best_shop_ever
                  </div>
                </ol>
                <ol>
                  <div class="img_text">
                    <img src="https://img.icons8.com/metro/26/000000/instagram-new.png"/>
                    @best_shop_ever
                  </div>
                </ol>
                <ol>
                  <div class="img_text">
                    <img src="https://img.icons8.com/fluent-systems-filled/48/000000/facebook-new.png"/>
                    /best_shop_ever
                  </div>
                </ol>
                <ol>
                  <div class="img_text">
                    <img src="https://img.icons8.com/ios/50/000000/twitter--v1.png"/>
                    @best_shop_ever
                  </div>
                </ol>
        </li>
    </div>
  </div>
</div>
