.wrapper {
    margin-top: 10%!important;
    margin: 0 auto;
    width: 98%; 
    max-width: 1900px;
    height: 80%;
}

.logincontainer { 
    display:flex; 
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap; 
    align-items:center; 
    align-content: center; 
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
    height: 100%; 
    width: 100%; 
}

.logincontainer input {
    padding-left: 2%;
    height: 25px;
    letter-spacing: 1px;
    font-weight: 500;
    outline: none;
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
}

.logincontainer form  {
    padding-top: 3%!important;
    padding:5%; 
    width: 30%; 
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 50px;
    -webkit-box-shadow: -4px 14px 24px -4px rgba(15, 15, 15, 0.719);
    -moz-box-shadow: -4px 14px 24px -4px rgba(15, 15, 15, 0.719);
    box-shadow: -4px 14px 24px -4px rgba(15, 15, 15, 0.719);
}

.logincontainer button {
    margin-top: 10%;
    outline: none;
    display: inline-block;
    height: 50px;
    line-height: 45px;
    border-radius: 45px;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    text-size-adjust: 100%;
    letter-spacing: 3px;
    font-weight: 600;
    color: black;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.logincontainer button:hover {
    background: #929292;
    box-shadow: 0 15px 20px #929292;
    color: white;
}


.logincontainer h4 {
    margin-bottom:4%;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: rgba(15, 15, 15, 0.719);
    color:black; 
}

.logincontainer h5 {
    text-shadow: rgba(15, 15, 15, 0.719);
    color:black; 
}

.loading {
    content: url(/shop-fe/assets/gifs/spinner.gif);
    margin-top: 5%!important; 
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 50px;
    -webkit-box-shadow: -4px 14px 24px -4px rgba(15, 15, 15, 0.719);
    -moz-box-shadow: -4px 14px 24px -4px rgba(15, 15, 15, 0.719);
    box-shadow: -4px 14px 24px -4px rgba(15, 15, 15, 0.719);
}