.container {
    background-color: transparent;
    max-width: 1900px;
    height: 700px;
    max-height: 700px;
    display : flex;
    margin: 0 auto; 
    padding-top:10px; 
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.container img { 
    position: absolute;
}


.next{
    content: url(https://img.icons8.com/ios/50/000000/chevron-right.png);
    cursor: pointer;
    position: absolute;
    border: 0;
    color: white;
    top: calc(height/2); 
    padding-right: 15%;
    font-weight: bold;
    font-size: 18px;
    transition: transform 1.5s; 
    right: 0;
}

.prev{
    content: url(https://img.icons8.com/ios/50/000000/chevron-left.png);
    cursor: pointer;
    position: absolute;
    border: 0;
    color: white;
    font-weight: bold;
    top: calc(height/2);
    padding-left:15%;
    font-size: 20px;
    transition: transform 1.5s; 
    left: 0;
}


.next:hover {
    transform: translate(30px);
}

.prev:hover {
    transform: translate(-30px);
}

.dot{
    cursor: pointer;
    height: 10px;
    width: 10px;
    bottom: 0;
    margin:8px;
    background-color: white;
    border: 2px solid black; 
    border-radius: 50%;
    transition: height 0.8s,width 0.8s,border 0.8s; 
    display: inline-block;
}

.dot:hover{ 
    height: 15px;
    width: 15px;
}

.container ol{
    padding: 0;
    margin-top: 35%; 
    cursor: pointer;
    position: absolute;
    display: inline-block;
}
 

@media only screen  and (max-width: 1920px) 
{
    .next{
        content: url(https://img.icons8.com/ios/50/000000/chevron-right.png);
        cursor: pointer;
        position: absolute;
        border: 0;
        color: white;
        top: calc(height/2); 
        padding-right: 5%;
        font-weight: bold;
        font-size: 18px;
        transition: transform 1s; 
        right: 0;
    }
    
    .prev{
        content: url(https://img.icons8.com/ios/50/000000/chevron-left.png);
        cursor: pointer;
        position: absolute;
        border: 0;
        color: white;
        font-weight: bold;
        top: calc(height/2);
        padding-left:5%; 
        font-size: 20px;
        transition: transform 1.5s; 
        left: 0;
    }

    .dot{
        cursor: pointer;
        height: 10px;
        width: 10px;
        margin-right: 8px;
        background-color: white;
        border: 2px solid black; 
        border-radius: 50%;
        transition: height 0.8s,width 0.8s,border 0.8s; 
        display: inline-block;
    }
    
    .container ol{ 
        padding-bottom: 5%;
        cursor: pointer;
        position: absolute;
        display: inline-block;
    }
}


/*@media only screen and (max-width : 1920px) {
    .container {
        background-color: transparent;
        max-width: 1900px;
        height: 700px;
        max-height: 700px;
        display : flex;
        margin: 0 auto; 
        padding-top:10px; 
        display : flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        
    }
    
    .container img {
        width: 99%;
        position: absolute;
    }
    
}*/