.grid {
    margin-top: 2%; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-gap: 2vw
}

.grid div {
    padding-left:4%; 
    border: 1px solid black;
    border-radius: 50px;
    -webkit-box-shadow: -4px 14px 24px -4px rgba(15, 15, 15, 0.719);
    -moz-box-shadow: -4px 14px 24px -4px rgba(15, 15, 15, 0.719);
    box-shadow: -4px 14px 24px -4px rgba(15, 15, 15, 0.719);
}

.grid div button {
    outline: none;
    margin-bottom: 2%;
  display: inline-block;
  width: 95%;
  height: 50px;
  line-height: 45px;
  border-radius: 45px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  text-size-adjust: 100%;
  letter-spacing: 3px;
  font-weight: 600;
  color: black;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}

.grid div button:hover{
    background: #929292;
    box-shadow: 0 15px 20px #929292;
    color: white;
    transform: translateY(-7px);
}

.loading {
    content: url(/shop-fe/assets/gifs/spinner.gif);
    margin-top: 5%!important; 
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 50px;
    -webkit-box-shadow: -4px 14px 24px -4px rgba(15, 15, 15, 0.719);
    -moz-box-shadow: -4px 14px 24px -4px rgba(15, 15, 15, 0.719);
    box-shadow: -4px 14px 24px -4px rgba(15, 15, 15, 0.719);
}


a {
    color : black; 
    text-decoration: none; /* Убираем подчёркивание */
}

a:hover {
    color: #929292;
}