<div class="wrapper">
    <div class='avatar'>
        <img src={{getUserAvatar()}}>
    </div>
  <div class="info">
    <h4>Name : {{name}}</h4>
    <h4>Surname : {{surname}}</h4>
    <h4>Registered email : {{email}}</h4>
    <h4>Purchases Sum : {{purchasesSum}} you so close to discount at every order! {{discountCalc()}}</h4>
    <h4>Activated : {{isActivated()}}</h4>
  </div>
  <div class='menu'>
    <a href=''>HTTP 1</a>
    <a href=''>HTTP 2</a>
    <a href=''>HTTP 3</a>
    <a href=''>HTTP 4</a>
  </div>
</div>
